<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    meta charset="UTF-8">
    <title>Edit Address</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div class="container">
<div th:replace="fragments/header :: header"/>

<h2>Edit Address Details</h2>
<div>
    <form class="form-horizontal" th:object="${updateAddressRequest}" th:action="@{/{personId}/address/{addressId}(personId=${address.person.id}, addressId=${address.id})}" method="post">
<!--        <input type="hidden" th:field="*{personId}" value="${address.personId}"/>-->
        <div class="form-group">
            <label class="col-sm-2 control-label">Street :</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" th:field="*{street}" value="${address.street}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">City:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" th:field="*{city}" value="${address.city}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">State:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" th:field="*{state}" value="${address.state}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Postal Code:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" th:field="*{postalCode}" value="${address.postalCode}"/>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
</div>
</div>
</body>
</html>